body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    min-height: 600px;
    overflow-y: hidden;
    background-color: #fdfffc;
    color: #171a21;
}

header {
    max-height: fit-content;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    background-color: #fdfffc;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 20px;
}

a {
    color: #171a21;
    text-decoration: none;
    border-bottom: 1px solid #171a21;
    transition: opacity 0.3s ease, border-color 0.3s ease;
}

a:hover {
    opacity: 0.6;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #171a21;
        color: #fdfffc;
        position: relative;
    }

    footer {
        background-color: #171a21;
    }

    a {
        color: #fdfffc;
        border-bottom-color: #fdfffc;
    }
}